name: CI Pipeline

on:
  push:
    branches:
      - master
      - developer
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    environment: ${{ github.ref_name == 'master' && 'production' || 'development' }}

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        extensions: mbstring, mysqli, exif, gd

    - name: Install dependencies
      run: composer install --ignore-platform-reqs

    - name: Create .env from secrets
      run: |
        echo "ENVIRONMENT=${{ secrets.ENVIRONMENT }}" >> .env
        echo "BASE_URL=${{ secrets.BASE_URL }}" >> .env
        echo "DB_CONNECT_HOST=${{ secrets.DB_CONNECT_HOST }}" >> .env
        echo "DB_CONNECT_NAME=${{ secrets.DB_CONNECT_NAME }}" >> .env
        echo "DB_CONNECT_USER=${{ secrets.DB_CONNECT_USER }}" >> .env
        echo "DB_CONNECT_PASS=${{ secrets.DB_CONNECT_PASS }}" >> .env
        echo "SECRET_HASH_API=${{ secrets.SECRET_HASH_API }}" >> .env
        echo "NEW_RELIC_API_KEY=${{ secrets.NEW_RELIC_API_KEY }}" >> .env
        echo "NEW_RELIC_ACCOUNT_ID=${{ secrets.NEW_RELIC_ACCOUNT_ID }}" >> .env
        echo "NEW_RELIC_APP_NAME=${{ secrets.NEW_RELIC_APP_NAME }}" >> .env

    - name: Run PHPStan
      run: ./vendor/bin/phpstan analyse

    - name: Run tests
      run: ./vendor/bin/phpunit --configuration phpunit.xml